.Animals {
    text-align: center;
    font-size: 60px;
    padding: 0px 10px;
    background: url('../../assets//animalBg.png') no-repeat;
    background-size: cover;
    padding-top: 20px;
}
.Animals h1{
    font-size: 30px;
}
.AnimalBlock{
    width: 350px;
    height: 200px;
    border-radius: 30px;
    cursor: pointer;
    background-color: 	#ffffff;
    margin-right: 15px;
    margin-top: 15px;
}
.AnimalImg{
    width: 140px;
    border-radius: 40px;
}
.AnimalName{
    font-size: 13px;

}
.Animal_MainBlock {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

@media (min-width: 1000px) {
    .Animals {
        height: 100vh;
    }
}
