.flag {
  width: 300px;
  height: 150px;
  border: 1px solid black;
}
.country_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.country_main h1 {
  font-size: 80px;
  margin-bottom: 50px;
}
.countries_main {
  display: flex;
  flex-wrap: wrap;
}
.country_button {
  display: flex;
  margin: 10px;
  flex-direction: column;
  align-items: center;
  border: 1px solid grey;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.country_button p {
  font-size: 20px;
  margin: 10px;
}
