<<<<<<< HEAD
body {
  background-color: rgb(255, 255, 255);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}
=======
.container {
    max-width: 1400px;
    margin: 0 auto;
}

.arrow {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.arrow a {
    color: rgb(255, 255, 255);
}
>>>>>>> 8b320984bbb22bd53b03e770a0f77ab3c07ffc50
