.alphabet {
    text-align: center;
    font-size: 60px;
    padding: 0px 10px;
}

.alphabet__main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.alphabet__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    color: white;
    text-align: center;
    width: 180px;
    height: 220px;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    border-radius: 10px;
}

.alphabet__button h3{
    font-size: 60px;
}

.alphabet__button p{
    font-size: 20px;
}